<center> <h3> Welcome </h3> </center>
<center> <img src ="images.jpeg"> </center>
<%= link_to ' Create New Article', new_article_path %>
<%= link_to ' Show All Articles', articles_path %>  
<%= link_to 'Show All User',:controller => :users, :action => :index %>

