// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table
{
 border-collapse:collapse;
}
table td, th
{
border:3px solid black;
}
th
{
padding: 6px;
color: red;
}
td
{
padding: 2px;
}
